@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Colors */
  & {
    --primary: #1c69c5;
    --secondary: #b9bbbd;
    --background: #f8f9fa;
    --text: #212529;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;

    --shiny-width: 100;
  }

  &.dark {
    --primary: #0a2647;
    --secondary: #797979;
    --background: #212529;
    --text: #f8f9fa;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
  }
}

.brightness {
  text-shadow: 0 4px 10px #0057ff33, 0 -4px 10px #ff5a0026, 0 0 30px #fff3;
}

.text-shadow {
  text-shadow: 0px 20px 20px #96b8e1;
}

::-webkit-scrollbar {
  width: 8px; /* For vertical scrollbar */
  height: 8px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
