@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Colors */
  & {
    --primary: #007bff;
    --secondary: #6c757d;
    --background: #f8f9fa;
    --text: #212529;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
  }
}
