@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  /* Colors */
  &,
  &.light {
    --primary: #1c69c5;
    --secondary: #f7f7f7;
    --background: #f8f9fa;
    --text: #212529;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --text-shadow: #96b8e1;
    --border: #d1d1d1;
  }

  &.dark {
    --primary: #3b7eca;
    --secondary: #2e2e2e;
    --background: #1f1f1f;
    --text: #f8f9fa;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --text-shadow: #333f4d;
    --border: rgb(61, 61, 61);
  }
}

.brightness {
  text-shadow: 0 4px 10px #0057ff33, 0 -4px 10px #ff5a0026, 0 0 30px #fff3;
}

.text-shadow {
  text-shadow: 0px 10px 20px var(--text-shadow);
}

::-webkit-scrollbar {
  width: 8px; /* For vertical scrollbar */
  height: 8px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}



@layer base {}
